<h1 class="text-center">Dragon Ball Super Page !!!</h1>

<section class="row mt-5 d-flex justify-content-around">
  <div class="col-6 col-sm-4">
    <h3 class="mb-2 text-center">Character Info</h3>
    <input
      type="text"
      name=""
      id=""
      class="form-control mb-2"
      placeholder="Name"
      [value]="name()"
      (change)="name.set(nameInput.value)"
      #nameInput
    /><input
      type="number"
      name=""
      id=""
      class="form-control mb-3"
      placeholder="Power"
      [value]="power()"
      (change)="power.set(+powerInput.value)"
      #powerInput
    />
    <button
      (click)="addCharacter()"
      type="button"
      class="btn btn-primary w-100"
    >
      Add
    </button>
  </div>
  <db-character-list></db-character-list>
</section>
